.row-fix{
    margin:0;
    margin-top:1rem;
}

.card-fix{
    margin-bottom:1.5rem;
}
.card-fix .card{
    transition:ease 0.5s;
}
.card-fix .card:hover{
    box-shadow: 0px 0px 20px -1px black;
    transition:ease 0.5s;
}

.floating-button{
    position: absolute;
    right: 1rem;
    top: 1rem;
    border-radius: 50%;
    background: white;
    width: 2rem;
    height: 2rem;
    box-shadow: 2px 2px 12px -3px black;
    transition: ease 0.5s;
}

.floating-button:hover{    
    border-radius: 50%;
    background: lightgray;    
    box-shadow: 1px 1px 8px -1px black;
    transition: ease 0.5s;
    color:blue;
}

.floating-button.left{
    right: initial;
    top: 1rem;
    left: 1rem;
}

.floating-button.left span i{
    font-size: 1.3rem;
    line-height: 1.9rem;
    padding-left: 0.25rem;
}


.floating-button i{
    font-size: 1.5rem;
    line-height: 2.1rem;
    padding-left: 0.45rem;
}

h5.card-title{
    padding-bottom:0;
    margin-bottom:3px;    
}

.card-holder{
    background-color:transparent;
    padding:1px;
    transition: 0.5s ease;
}
.card-holder:hover{
    background-color:#c1bdbbf5;
    padding:1px;
    transition: 0.5s ease;
}
.navbar form .bmd-form-group{
width: 85%;
}